<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

		<title>html5-Template</title>

		<!-- Bootstrap -->
		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="bssets/css/bootstrap-patch.css">
		<link rel="stylesheet" href="bssets/css/pgzx.css">
		<!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
		<!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
		<!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	</head>
	<body>
		<!-- content-begin -->
		<div class="container">
			<div class="row">
				<img src="bssets/pgzx/top.jpg" class="img-responsive center-block" />
			</div>
		</div>
		<!-- Fixed navbar -->
		<div class="container ">
			<div class="row ">
				<nav class="navbar navbar-default navbar-inverse ">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
							 aria-controls="navbar">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div id="navbar" class="navbar-collapse collapse ">
							<ul class="nav navbar-nav center-block " style="position:relative;width:760px;margin: 0 15%;">
								<li class="active"><a href="#">网站首页</a></li>
								<li><a href="#about">新闻动态</a></li>
								<li><a href="#about">通知公告</a></li>
								<li><a href="#about">制度文件</a></li>
								<li><a href="#about">政策解读</a></li>
								<li><a href="#about">他山之石</a></li>
								<li><a href="#about">数据采集</a></li>
								<li><a href="#about">中心简介</a></li>

							</ul>
						</div>
						<!--/.nav-collapse -->
					</div>
				</nav>
			</div>
		</div>
		<!-- /Fixed navbar -->
		<!-- content -->
		<div class="container">
			<!--   row0 start   -->
			<div class="row margin-vertical-sm ">
				<!-- left -->
				<div class="col-xs-12 col-sm-3 padding-horizontal-xs">
					<!-- left layer1 -->
					<div class="row">
						<div class="col-xs-12 col-sm-12">
							<div class="newslist">
								<div class="title bg-primary padding-horizontal-sm">站内搜索</div>
								<div class="padding-top-sm padding-right-sm">
									<form id="searchform" class="form-horizontal" action="${basePath}searchinsite.do" method="post">
										<div class="form-group">
											<label for="id" class="col-sm-4 control-label">搜索类别</label>
											<div class="col-sm-8">
												<select name="id" id="searchinsite" class="form-control">
													<option value="0">所有类别</option>
													<c:forEach var="it" items="${cols}" varStatus="i">
														<c:choose>
															<c:when test="${id==it[2]}">
																<option value="${it[2]}" selected>${it[0]}</option>
															</c:when>
															<c:when test="${id!=it[2]}">
																<option value="${it[2]}">${it[0]}</option>
															</c:when>
														</c:choose>
													</c:forEach>
												</select>
											</div>
										</div>
										<div class="form-group">
											<label for="inputPassword3" class="col-sm-4 control-label">关键词</label>
											<div class="col-sm-8">
												<input type="text" class="form-control" placeholder="请输入关键字" id="searchtext" name="searchtext" value="${searchtext}"
												 required>
											</div>
										</div>
										<div class="form-group">
											<label for="inputPassword3" class="col-sm-4 control-label">验证码</label>
											<div class="col-sm-4">
												<img width="80" height="30" alt="" src="getimage.do">
											</div>
											<div class="col-sm-4">
												<input type="text" class="form-control" placeholder="验证码" id="verificationcode" name="verificationcode"
												 required />
											</div>
										</div>
										<div class="form-group">
											<div class="col-sm-offset-4 col-sm-8">
												<button type="submit" id="searchbtn" class="btn btn-info">搜索</button>
											</div>
										</div>
									</form>

								</div>
							</div>
						</div>
					</div>
					<!-- left layer2 -->
					<div class="row">
						<div class="col-sm-12 hidden-xs">
							<div class="newslist margin-vertical-sm hidebd">
								<div class="title bg-primary padding-horizontal-sm">推荐栏目</div>
								<ul class="list-group margin-vertical-0">
									<c:forEach var="it" items="${recommend}" varStatus="i">
										<li class="list-unstyled"><a class="list-group-item" href="cs.do?id=${it.tooltip}">${it.name}</a></li>
									</c:forEach>
								</ul>
							</div>
						</div>
					</div>
					<!-- left layer3 -->
					<div class="row">
						<div class="col-sm-12 hidden-xs">
							<div class="newslist margin-vertical-sm hidebd">
								<div class="title bg-primary padding-horizontal-sm">最新推荐</div>
								<ul class="list-group margin-vertical-0">
									<c:forEach var="it" items="${zxtztop3list}" varStatus="i">
										<li class="list-unstyled text-truncate"><a class="list-group-item text-truncate" href="as.do?id=${it.id}&type=notice"
											 target="_blank" title="${it.notice_title}-${it.sys_date}">
												<font color='red'>${it.notice_title}</font>
											</a></li>
									</c:forEach>
									<c:forEach var="it" items="${zxtzlist}" varStatus="i">
										<li class="list-unstyled"><a class="list-group-item text-truncate" href="as.do?id=${it.id}&type=notice"
											 target="_blank" title="${it.notice_title}-${it.sys_date}">${it.notice_title}</a></li>
									</c:forEach>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- left end -->
				<!-- right -->
				<div class="col-xs-12 col-sm-9 padding-horizontal-xs">
					<ol class="breadcrumb">
						<li>您的当前位置：<a href="${basePath}">首页</a></li>
						<li><a href="${basePath}c?id=${currentColumn.tooltip}">${currentColumn.name}</a></li>
					</ol>
					<div class="showbd newslist">
						<div class="title bg-seagreen padding-horizontal-sm">
							<span>
								<c:choose>
									<c:when test="${currentColumn!=null}">
										<div id="coltitle">${currentColumn.name}</div>
									</c:when>
									<c:when test="${currentColumn==null}">
										<div id="coltitle">${columnName}</div>
									</c:when>
								</c:choose>
							</span>
							<div class="clearfix"></div>
						</div>
						<c:forEach var="it" items="${listtop}" varStatus="i">
							<div class="row item">
								<div class="col-xs-9 col-sm-9 col-md-10 col-lg-10 text-truncate ">
									<a href="${basePath}a?id=${it.id}&type=${it.type}" target="_blank">
										<c:if test="${it.istop}">
											<font color='red'>${it.name}&nbsp;&nbsp;[置顶]</font>
										</c:if>
										<c:if test="${it.istop==false}">${it.name}</c:if>&nbsp;&nbsp;
									</a>
								</div>
								<div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 text-truncate" title="${it.date}">
									<div class="date">${it.date}</div>
								</div>
							</div>
						</c:forEach>
						<c:forEach var="it" items="${list}" varStatus="i">
							<div class="row item">
								<div class="col-xs-9 col-sm-9 col-md-10 col-lg-10 text-truncate ">
									<a href="${basePath}a?id=${it.id}&type=${it.type}" target="_blank">
										<c:if test="${it.istop}">
											${it.name}&nbsp;&nbsp;
										</c:if>
										<c:if test="${it.istop==false}">${it.name}</c:if>&nbsp;&nbsp;
									</a>
								</div>
								<div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 text-truncate" title="${it.date}">
									<div class="date">${it.date}</div>
								</div>
							</div>
						</c:forEach>
					</div>
					<jsp:include page="pagesize.jsp" />
					<jsp:include page="pageturner.jsp" />
				</div>
			</div>
			<!--   row0 end   -->
			<!--footer开始-->
			<div class="row text-center margin-vertical-lg">
				<hr class="showborderblue" />
				地址：成都市锦江区静安路5号 | 邮编：610068 | 联系电话：028-84760038
				<br />
				&copy;All Right Reserved . 版权所有 四川师范大学<span onclick="window.open('login')">教育教学</span>质量监测和评估中心 <br />
			</div>
			<!--footer结束-->
		</div>

		<!-- content-end -->
		<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
		<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
		<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
		<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</html>
